* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body > div {
    margin: auto;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-left: 5px solid;
    border-radius: 2px;
    height: 80px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding-right: 20px;
    
}

.toast--success .toast__icon  {
    color: green;
}

.toast--success {
    border-color: green;
}

.toast--info .toast__icon  {
    color: #2f86eb;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon  {
    color: #ffc021;
}



.toast__icon,
.toast__close {
    font-size: 20px;
}
.toast__icon {
    padding: 20px;
}

.toast__body {
    padding: 20px 0;
}
.toast__title {
    margin-bottom: 2px;
    font-weight: 700;
}

.toast__msg {
    color: #888; 
}  

.toast__close {
    
    padding-left: 40px;
    color: #888;
    cursor: pointer;
}